
body{
	margin: 0px;
	padding: 0px;
}


#flex-container{
	background-position: center;
	background: black;
	height: auto;
	width: 1100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border-left: 2px solid gray;
	border-left: 2px solid gray;
}

#flex-container1{
	background-position: center;
	background: url("imagens/charada.png") repeat;
	height: auto;
	width: 1100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border-left: 2px solid green;
	border-right: 2px solid green;
}

.texto{
	background: lightgray;
	width: 1100px;
	margin: 10px;
	padding: 1px;
	margin-top: 10px;
	margin-bottom: 1px;
	font-size: 28px;
	text-align: center;
	color: black;

}

.texto-v{
	background: lightgreen;
	width: 1100px;
	margin: 10px;
	padding: 1px;
	margin-top: 10px;
	margin-bottom: 1px;
	font-size: 32px;
	text-align: center;
	color: darkgreen;

}

.item0{
	background: center;
	width:  1100px;
	height: 200px;
	margin:  1px;
	

}

.item1{
	background-position: center;
	color: yellow;
	font-size: 40px;
	text-align: center;
	font-family: "";
	width:  1100px;
	height: 50px;
	margin-top:  40px;
	margin-bottom: 1px;
	background: black;
	border-bottom: 2px solid gray;
}

.item1-v{
	background-position: center;
	color: green;
	font-size: 40px;
	text-align: center;
	width:  1100px;
	height: 50px;
	margin-top:  40px;
	margin-bottom: 1px;
	background: black;
	border-bottom: 2px solid green;
}


.principal-menu{
	background-position: center;
	text-align: left;
	width:  1100px;
	height: 50px;
	margin-top:  0px;
	margin-bottom: 5px;
	border-bottom: 2px solid darkblue;

}

.principal-menu-v{
	background-position: center;
	text-align: center;
	width:  1100px;
	height: 50px;
	margin-top:  0px;
	margin-bottom: 10px;
	background: darkgreen;
}

.menu{
	background: black;
	font-size: 30px;
	color:  blue;
	text-decoration: none;
	padding: 0px;
	margin: 5px;
}

.menu-v{

	font-size: 30px;
	color:  darkblue;
	text-decoration: none;
	padding: 0px;
	margin: 5px;
	
}

.imagens{
	width:  300px;
	height: 400px;
	margin:  10px;
	padding: 10px;
	border: 3px solid blue;
}

.imagens-v{
	width:  300px;
	height: 400px;
	margin:  10px;
	padding: 10px;
	background: black;
	border: 3px solid blue;
}
.noticias{
	background: lightslategray;
	width: 300px;
	height: auto;
	margin: 10px;
	padding: 13px;
	margin-top: 15px;
	margin-bottom: 1px;
	font-size: 20px;
	text-align: center;
	color: black;
	font-style: bold;
}

.noticias-v{
	background: lightgreen;
	width: 300px;
	height: auto;
	margin: 10px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 1px;
	font-size: 20px;
	text-align: center;
	color: black;
	font-style: bold;

}